body {
  margin: 80px;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background: rgb(235, 240, 245);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px,1fr));
  grid-auto-rows: minmax(170px,auto);
  grid-gap: 15px;
}

.grid-container div {
  background-color: white;
}

.tall {
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

.a {
 background-size: cover;
 object-position: center center;
 background-repeat: no-repeat;
 background-position: 100% 100%;
}

.curly {
 background-position: 73% 100%;
 background-size: cover;
 background-repeat: no-repeat;
}

.and {
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}

.grid-container > div {
  position: relative;
}

.logo {
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 20px;
}

.wide .bodytext {
  position: absolute;
  top: 115px;
  left: 20px;
}

.bodytext {
  font-size: 11px;
  position: absolute;
  top: 80px;
  left: 20px;
}

.byline {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 100px;
  left: 20px;
}

.innermargin {
  margin-right: 20px;
}

.headline {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(165, 168, 164);
  position: absolute;
  top: 20px;
  left: 20px;
}

.quote {
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  top: 20px;
  left: 20px;
  margin-right: 10px;
  line-height: 40px;
}

.alphabet {
  font-size: 33px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 7px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.grid-container div:nth-child(5),
.grid-container div:nth-child(9),
.grid-container div:nth-child(11) {
  position: relative;
  background: rgb(34, 34, 34);
  color: white;
}
